.bg-img {
    background-image: url(./img/background.png);
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.box-container {
 

    max-width: 480px;
    max-height: 840px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    padding: 4rem 0 4rem 0;
}

.box-form {
    max-width: 100%;
    text-align: center;
    
}

.container h1 {
    text-transform: uppercase;
}

.container-itens {
    text-align: center;
    width: 100%;
}

::placeholder {
    text-align: center;
}

/*Fazer responsividade*/