.bg-img {
    background-image: url(./img/background.png);
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.box-container {

    max-width: 480px;
    background: #FFFFFF;
    border: 1px solid #C5C5C5;
    padding: 4rem 0 4rem 0;
}

.box-form {
    max-width: 100%;
    text-align: center;
    
}

.box-container h1 {
    text-transform: uppercase;
    margin: 1rem 0 1rem;
}

.container-itens {
    text-align: center;
    width: 100%;
}

::placeholder {
    text-align: center;
}

.Link-cadastro {
    text-transform: lowercase;
    text-decoration: none;
    color: #555555;
}

/*Fazer responsividade*/

@media only screen and (max-width: 600px) {
    .box-container {
        max-width: 80%;
    }
}